@mixin make-button-group ($button-class: button, $button-group-class: button-group) {
  .#{$button-group-class} {
    font-size: 0; // Avoid the spacings

    .#{$button-class}:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    .#{$button-class}:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right-width: 0;
    }

    .#{$button-class}:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
