@mixin make-container($container-class: container) {
  .#{$container-class} {
    margin: 0 auto;
    max-width: $container-width + $container-padding + $container-padding;
    padding: 0 $container-padding;
    width: 100%;
  }
}
